.headerbg{
  position: relative;
  z-index: 0;
}

.headerbg::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../Assets/Header\ Filler@2x.png);
  background-size: cover;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 80% 0%, 0% 95%);
}

.cta {
  background: #30544C 0% 0% no-repeat padding-box;
  color: var(--light);
  font-size: 2em;
  border-radius: 30px;
  opacity: 1;
}

.f-4 {
  font-size: 4rem;
}

.pb8 {
  padding-bottom: 27rem;
}