nav{
  background: var(--light) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 24px;
}

.search {
  border: 3px solid var(--primary);
  border-radius: 24px;
  opacity: 1;
}

.searchBox {
  display: none;
  visibility: hidden;
}

.shop {
  background: var(--secoundary) 0% 0% no-repeat padding-box;
  background: #A58859 0% 0% no-repeat padding-box;
  border-radius: 24px;
  color: var(--light);
  opacity: 1;
  padding: 8px 30px 8px 30px;
}

@keyframes searchExtend {
  from {visibility: hidden;}
  to {visibility: visible;}
}

.search:hover .searchBox{
  display: flex;
  animation-name: searchExtend;
  animation-duration: 4s;
}